<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>981325685223-81pothcfd8vj9ijt64ogqd932j7c4nif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981325685223-81pothcfd8vj9ijt64ogqd932j7c4nif</string>
	<key>API_KEY</key>
	<string>AIzaSyAhwqxuXeohLuGgCZ90K4vbnOKNFA206pU</string>
	<key>GCM_SENDER_ID</key>
	<string>981325685223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vamshi.in.ChatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatappfirebase-db4af</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappfirebase-db4af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981325685223:ios:539d48e58a100874</string>
	<key>DATABASE_URL</key>
	<string>https://chatappfirebase-db4af.firebaseio.com</string>
</dict>
</plist>